*.MF
/store-common/target/
/store-model/target/
/store-persistent/target/
/store-service/target/
/store-service-impl/target/
/store-service-impl/*.classpath
/store-service-impl/*.project
/store-service-impl/target/test-classes/com/demo/store/*.class
/store-service-impl/.settings
/.settings
/store-api/.settings
/store-common/.settings
/store-service/.settings
/store-service-impl/target/classes/com/demo/store/user/*.class
/store-persistent/.settings/*.prefs
/store-persistent/*.classpath
/store-model/*.classpath
/store-api/target/classes/com/demo/store/*.class
/store-api/target/test-classes/com/demo/store/*.class
/store-common/target/classes/org/store/common/*.class
/store-common/target/test-classes/org/store/common/*.class
/store-model/target/classes/com/model/user/*.class
/store-model/target/test-classes/org/store/model/*.class
/store-persistent/target/classes/com/demo/store/user/*.class
/store-persistent/target/test-classes/com/demo/store/*.class
/store-service/target/classes/com/demo/store/*.class
/store-service/target/test-classes/com/demo/store/*.class
/store-api/*.classpath
/store-common/*.classpath
/store-service/*.classpath
/store-api/target
/.project
/*.bak
/store-model/.settings
/store-persistent/src/main/java/META-INF
/store-persistent/.settings
/store-persistent/*.project
/store-common/*.project
/store-api/*.project
/store-service/*.project
